scikit-learn==1.6.1
scikit-learn-extra==0.3.0
googlemaps==4.10.0
pandas==2.3.2
streamlit==1.49.1
openpyxl==3.1.5
requires.io==0.2.6
xlsxwriter==3.2.3
geocoder==1.38.1
geopandas==1.1.1
overturemaps==0.18.0
leafmap==0.43.5
shapely==2.0.7
polyline==2.0.2
folium==0.19.5
